[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Ignacio Bares
	email = 38444147+nachovoss@users.noreply.github.com
[user "nameuser"]
	mail = ignaciobaresmosca@gmail.com
